@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>Boring developer stuff below:</p>
<p>Some important notes before reading the errors below: </p>
<ul>
    <li>
        If you are following any of the steps on the setup tab, and you get the following error, wait 30-60 seconds and try again: "The remote server returned an error: (409) Conflict."
    </li>
</ul>
<p>@Model.Exception.Message</p>
<p>@Model.Exception.StackTrace</p>